body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

input[type="file"] {
  margin-bottom: 20px;
}

#puzzle-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin-top: 20px;
  max-width: 600px;
  max-height: 600px;
}

.puzzle-piece {
  width: 100%;
  /* height: 100%; */
  padding-bottom: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
}

.empty-piece {
  background-color: #ccc; /* Color for the empty puzzle piece */
}

#stroke-counter {
  margin-top: 20px;
  font-weight: bold;
}
